@font-face {
  src: url(../fonts/NeueHaasDisplay-Bold.ttf);
  font-family: 'Neue Haas Grotesk';
}
@font-face {
  src: url(../fonts/ArialMT.ttf);
  font-family: 'Arial regular';
}
@font-face {
  src: url(../fonts/Arial-BoldMT.ttf);
  font-family: 'Arial bold';
}
