@import 'mixins';

@media (max-width: 1100px) {
  .container {
    .header {
      .subtitle {
        margin-right: 200px;
      }
    }
    .footer {
      .subtitle {
        margin-right: 200px;
      }
    }
  }
}

@media (min-width: 780px) and (max-width: 1060px) {
  .container {
    .header {
      justify-content: space-between;
      .titleName {
        @include neueHaasFont(60px, 60px);
        margin-right: 0;
      }
      .subtitle {
        @include arialBold;
        font-size: 22px;
        line-height: 26px;
        margin-right: 25px;
      }
      .navBar {
        ul {
          li {
            a {
              padding-left: 43px;
            }
          }
          li:nth-child(2) {
            margin: 18px 0;
          }
        }
      }
    }
    .main {
      .aboutMeSection {
        .itemsWrapper {
          justify-content: flex-start;
          .item {
            margin-right: 45px;
          }
        }
      }
      .educationSection {
        .itemsWrapper {
          justify-content: flex-start;
          .item {
            margin-right: 45px;
          }
        }
      }
      .designSection {
        .itemsWrapper {
          justify-content: flex-start;
          .item {
            margin-right: 45px;
          }
        }
      }
    }
    .footer {
      justify-content: space-between;
      .titleName {
        @include neueHaasFont(60px, 60px);
        margin-right: 0;
      }
      .subtitle {
        @include arialBold;
        font-size: 22px;
        line-height: 26px;
        margin-right: 25px;
      }
      .navBar {
        z-index: -1;
        ul {
          li {
            a {
              padding-left: 43px;
            }
          }
          li:nth-child(2) {
            margin: 18px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1006px) {
  .container {
    .main {
      .workExperienceSection {
        .itemsWrapper {
          .item {
            div {
              padding-bottom: 25px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 779px) {
  .container {
    padding: 50px 15px;
    max-width: 375px;
    .header {
      padding-bottom: 30px;
      margin-bottom: 60px;
      justify-content: space-between;
      .titleName {
        display: inline-block;
        margin: 0;
        @include neueHaasFont(38px, 42px);
        max-width: 170px;
        margin-right: 0;
      }
      .subtitle {
        display: none;
      }
      .navBar {
        display: none;
      }
      .headerRightMobile {
        display: block;
        max-width: 130px;
        .subtitle {
          display: inline-block;
          @include arialBold;
          margin-right: 0;
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 15px;
        }
        .navBarMobile {
          ul {
            min-width: 130px;
            display: flex;
            justify-content: flex-start;
            li {
              list-style: none;
              margin-right: 20px;
              a {
                outline: none;
              }
            }
          }
        }
      }
    }
    .main {
      .aboutMeSection {
        .itemsWrapper {
          justify-content: center;
          .item {
            margin-bottom: 60px;
            max-width: 375px;
            .itemTitle {
              @include neueHaasFont(38px, 46px);
              padding-bottom: 30px;
            }
            .itemText {
              padding-top: 30px;
            }
          }
        }
      }
      .educationSection {
        .itemTitle {
          @include neueHaasFont(38px, 46px);
          padding-bottom: 30px;
        }
        .itemsWrapper {
          justify-content: center;
          .item {
            margin-bottom: 40px;
            max-width: 375px;
            .itemText {
              padding-top: 40px;
              border-top: 2px solid #e9e9e9;
              span {
                @include arialBold;
                font-size: 23px;
                line-height: 28px;
              }
            }
          }
        }
      }
      .workExperienceSection {
        margin-top: 20px;
        .itemTitle {
          @include neueHaasFont(38px, 46px);
          padding-bottom: 30px;
        }
        .itemsWrapper {
          .item {
            padding: 30px 0;
            justify-content: flex-start;
          }
        }
      }
      .designSection {
        margin-top: 30px;
        .title {
          margin: 0;
          @include neueHaasFont(38px, 46px);
          margin-bottom: 30px;
        }
        .itemsWrapper {
          justify-content: center;
          .item {
            max-width: 375px;
            p {
              @include arialBold;
              font-size: 23px;
              padding: 30px 0;
            }
            img {
              width: 345px;
              height: 235px;
            }
          }
        }
      }
    }
    .footer {
      padding-top: 30px;
      margin-top: 20px;
      justify-content: space-between;
      .titleName {
        display: inline-block;
        margin: 0;
        @include neueHaasFont(38px, 42px);
        max-width: 170px;
      }
      .subtitle {
        display: none;
      }
      .navBar {
        display: none;
      }
      .footerRightMobile {
        display: block;
        max-width: 130px;
        .subtitle {
          display: inline-block;
          @include arialBold;
          margin-right: 0;
          font-size: 18px;
          line-height: 20px;
          margin-bottom: 15px;
        }
        .navBarMobile {
          ul {
            min-width: 130px;
            display: flex;
            justify-content: flex-start;
            li {
              list-style: none;
              margin-right: 20px;
              a {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
}
